@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --color-primary-100: #f1fafe;
  --color-primary-200: #d3eefb;
  --color-primary-300: #bde6f9;
  --color-primary-400: #9fdaf6;
  --color-primary-500: #8dd3f5;
  --color-primary-600: #70c8f2;
  --color-primary-700: #66b6dc;
  --color-primary-800: #508eac;
  --color-primary-900: #3e6e85;
  --color-primary-950: #2f5466;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-Light.eot');
  src:
    local('Brioni Text Pro Light'),
    local('BrioniTextPro-Light'),
    url('./assets/fonts/BrioniTextPro-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-Light.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-Light.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-Italic.eot');
  src:
    local('Brioni Text Pro Italic'),
    local('BrioniTextPro-Italic'),
    url('./assets/fonts/BrioniTextPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-Italic.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-Italic.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-Regular.eot');
  src:
    local('Brioni Text Pro Regular'),
    local('BrioniTextPro-Regular'),
    url('./assets/fonts/BrioniTextPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-Regular.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-Regular.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-BoldItalic.eot');
  src:
    local('Brioni Text Pro Bold Italic'),
    local('BrioniTextPro-BoldItalic'),
    url('./assets/fonts/BrioniTextPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-BoldItalic.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-BoldItalic.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-LightItalic.eot');
  src:
    local('Brioni Text Pro Light Italic'),
    local('BrioniTextPro-LightItalic'),
    url('./assets/fonts/BrioniTextPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-LightItalic.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-Medium.eot');
  src:
    local('Brioni Text Pro Medium'),
    local('BrioniTextPro-Medium'),
    url('./assets/fonts/BrioniTextPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-Medium.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-Medium.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-MediumItalic.eot');
  src:
    local('Brioni Text Pro Medium Italic'),
    local('BrioniTextPro-MediumItalic'),
    url('./assets/fonts/BrioniTextPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-MediumItalic.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-MediumItalic.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Brioni Text Pro';
  src: url('./assets/fonts/BrioniTextPro-Bold.eot');
  src:
    local('Brioni Text Pro Bold'),
    local('BrioniTextPro-Bold'),
    url('./assets/fonts/BrioniTextPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BrioniTextPro-Bold.woff2') format('woff2'),
    url('./assets/fonts/BrioniTextPro-Bold.woff') format('woff'),
    url('./assets/fonts/BrioniTextPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.font-brioni {
  font-family: 'Brioni Text Pro', sans-serif;
}

.font-poppins {
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.animate-rotate {
  animation: rotate 2.1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(720deg);
    opacity: 0;
  }
}

@layer base {
  body {
    @apply bg-neutral-900 text-white;
  }
  html {
    scroll-behavior: smooth;
  }
}
